/* ==UserStyle==
@name        LinkedIn Tweaks
@version     1.0.1
@namespace   dnlj
@author      dnlj
@homepageURL https://github.com/dnlj/UserTweaks
@updateURL   https://raw.githubusercontent.com/dnlj/UserTweaks/master/styles/linkedin-tweaks.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.linkedin.com/jobs") {
    /* Kill messages popup that takes 90% of the screen */
    .msg-overlay-list-bubble {
        height: unset;
        display: none;
    }
    
    /* Always show full job desc */
    article.jobs-description__container--condensed {
        height: unset;
        margin-bottom: 5em;
    }
    
    .jobs-description__container,
    .jobs-description--is-truncated,
    .jobs-description__content--condensed,
    .jobs-description--is-truncated .jobs-description__container::after,
    .jobs-description--is-truncated-poster .jobs-description__content--condensed,
    .jobs-description--is-truncated .jobs-description__content--condensed
    {
        max-height: unset;
        height: unset !important;
        overflow: visible;
    }
}
