/* ==UserStyle==
@name        Path of Exile Trade Tweaks
@version     1.0.1
@namespace   dnlj
@author      dnlj
@homepageURL https://github.com/dnlj/UserTweaks
@updateURL   https://raw.githubusercontent.com/dnlj/UserTweaks/master/styles/poe-trade-tweaks.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.pathofexile.com/trade/search") {
	/* Always show search options */
	#trade .search-bar.search-advanced.search-advanced-hidden {
		min-height: 250px;
		height: unset;
		padding: 8px 0 0;
		overflow: unset;
	}
}
