/* ==UserStyle==
@name        YouTube Tweaks
@version     1.0.4
@namespace   dnlj
@author      dnlj
@homepageURL https://github.com/dnlj/UserTweaks
@updateURL   https://raw.githubusercontent.com/dnlj/UserTweaks/master/styles/youtube-tweaks.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/feed/subscriptions") {
    /* Fix the 600px wide video icons */
    #contents * {
        --ytd-rich-grid-item-max-width: 250px !important;
        --ytd-rich-grid-item-min-width: 200px !important; 
    }
    
    ytd-two-column-browse-results-renderer {
        max-width: 1850px;
    }
    
	/** Hide the first two elements in the paper-menu */
	#items > .ytd-menu-popup-renderer.style-scope:not(:last-of-type) {
		visibility: hidden;
		min-height: 0;
		height: 0;
	}
    
    /** Fix the padding around the paper-menu */
    #items > .ytd-menu-popup-renderer.style-scope:last-of-type {
        height: 48px;
        justify-content: center;
    }
    
    tp-yt-paper-listbox#items {
        padding: 0;
    }
    
    ytd-grid-video-renderer[is-dismissed] {
        display: none !important;
    }
}

@-moz-document url-prefix("https://www.youtube.com") {
	/** Fix border radii */
    /** search / menus */
    .ytd-searchbox,
    ytd-menu-popup-renderer,
    /** thumbnails */
    #thumbnail,
    ytd-thumbnail,
    .ytd-thumbnail,
    ytd-thumbnail::before,
    /** buttons */
    yt-chip-cloud-chip-renderer,
    .yt-spec-button-shape-next,
    .yt-spec-button-shape,
    ytd-guide-entry-renderer,
    .ytd-guide-entry-renderer:hover
    {
        border-radius: 0px !important;
    }
}
